.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: white;
    padding: 0 40px;
}

.title {
    display: flex;

    a > div {
        display: flex;
        align-items: center;

        > span {
            font-size: 30px;
        }
    }
}

.logo {
    padding-left: 10px;
    height: 50px;
}

.info {
    display: flex;
    align-items: center;
    font-size: 25px;

    i {
        font-size: 25px;
    }

    a {
        font-size: 25px;
        padding-left: 20px;
        text-decoration: underline;
    }
}

