<div class="container">
  <div class="card">
    <h2 *ngIf="!isLoading" class="title">Cloud Scores</h2>
    <h5 *ngIf="!isLoading" class="header">Let's start gaming!</h5>
    <div *ngIf="isLoading" class="spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          matInput
          name="email"
          ngModel
          #emailInput="ngModel"
          type="email"
          required
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          name="password"
          ngModel
          #passwordInput="ngModel"
          type="password"
          required
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>
    <div *ngIf="!isLoading" class="inline">
      <h5>Don't have an account?</h5>
      <a routerLink="/signup">Sign up!</a>
    </div>
  </div>
</div>
