<div mat-dialog-content class="modal-container">
  <div class="close-button-container">
    <fa-icon size="2x" [icon]="faClose" (click)="closeModal()"></fa-icon>
  </div>
  <div class="notification-container">
    <fa-icon [icon]="faTimesCircle" class="icon-danger"></fa-icon>
    <h3>Are you sure?</h3>
    <p>
      Do you really want to
      <span *ngIf="this.data.isAuthor; else NotAuthor">delete</span>
      <ng-template #NotAuthor><span>leave</span></ng-template> this room?
    </p>
  </div>
  <ul class="button-list">
    <li class="col-xs-12 col-md-6">
      <button class="button" (click)="closeModal()">Close</button>
    </li>
    <li class="col-xs-12 col-md-6">
      <button class="button delete-button" (click)="onDeleteRoom()">
        <span *ngIf="this.data.isAuthor; else NotAuthorB">Delete room</span>
        <ng-template #NotAuthorB><span>Leave room</span></ng-template>
      </button>
    </li>
  </ul>
</div>
