<div mat-dialog-content class="modal-container">
  <div class="close-button-container">
    <fa-icon size="2x" [icon]="faClose" (click)="closeModal()"></fa-icon>
  </div>
  <h2 class="modal-header">Enter Invite Code</h2>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <mat-form-field class="input-field" appearance="standard">
      <mat-label for="id">Invite Code</mat-label>
      <input
        matInput
        type="text"
        id="id"
        ngModel
        name="id"
        #id="ngModel"
        required
      />
      <mat-error *ngIf="id.invalid"
      >Id cannot be empty</mat-error
      >
    </mat-form-field>
    <div class="button-container mat-dialog-actions">
      <button [disabled]="!form.valid" mat-button type="submit" class="btn btn-success submit-button">
        JOIN
      </button>
    </div>
  </form>
  <!-- <mat-label class="success-alert" *ngIf="formSubmitted">
    Join request has ben sent to the room author!
  </mat-label> -->

</div>
