<div class="dashboard-container">
  <div class="info-card">
    <h2>{{currentRoom.name}}</h2>
    <div class="room-management">
      <a (click)="onChangeRoom()" class="change-button">change room</a>
      <span class="separator"> | </span>
      <a class="remove-button" (click)="onDelete(currentRoom._id)">
        <span *ngIf="isRoomAuthor===true; else isNotRoomAuthor"
          >delete room</span
        >
        <ng-template #isNotRoomAuthor> <span>leave room</span> </ng-template>
      </a>
    </div>
    <img src="{{currentRoom.imgSrc}}" alt="room image" />
    <div (click)="copyCode()" class="invite-container">
      <p>
        Click to copy invite code: <br />
        <span>{{currentRoom.code}}</span>
      </p>
    </div>
  </div>
  <div class="info-card">
    <div *ngIf="currentGame===null; else gameSelectedBlock" class="gameCardOff">
      <h2>Select a game</h2>
      <br />
      <fa-icon [icon]="faGamepad"></fa-icon>
    </div>
    <ng-template #gameSelectedBlock>
      <div class="gameCardOn">
        <h2>{{currentGame.name}}</h2>
        <a (click)="onChangeGame()" class="change-button">change game</a>
        <img
          src={{currentGame.imgUrl}}
          alt="game image"
        />
      </div>
    </ng-template>
  </div>
  <div class="buttons-container">
    <div class="button-container">
      <button class="my-stats" (click)="onMyStatsClick()">
        My Stats
        <fa-icon [icon]="faMedal"></fa-icon>
      </button>
    </div>
    <div class="button-container">
      <button class="game-stats" [disabled]="currentGame===null">
        Game Stats
        <fa-icon [icon]="faTrophy"></fa-icon>
      </button>
    </div>
  </div>
</div>
