.dashboard-container {
  height: 90vh;
  padding-top: 10%;

}

.info-card {
  width: 70%;
  height: 35%;
  margin: 0 auto 10%;
  background-color: white;
  border-radius: 10px;

  img {
    display: block;
    width: 150px;
    height: 150px;
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 10%;
  margin: 0 auto 10%;

  .button-container > button {
    width: 140px;
    height: 70px;
    border-radius: 10px;
    border: none;
  }
}
