.dashboard-container {
  height: 90vh;
  padding-top: 10%;
  background-color: red;
}

.info-card {
  display: flex;
  width: 70%;
  height: 35%;
  margin: 0 auto 10%;
  background-color: white;
  border-radius: 10px;

  img {
    display: block;
    width: 200px;
    height: 200px;
  }
}
